---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Lautaro"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
<div class="flex-1 text-center text-gray-300 lg:text-left">
  <h2 class="text-3xl font-bold text-white">
    My name is <span class="text-white text-shadow">Tejas Sriganesh</span>
  </h2>

  <p class="mt-4">
    I am a Mechatronics and Robotics masters student @ NYU with a strong focus on
    <span class="text-primary font-semibold"> intelligent robotic systems</span>,
    automation, and software-driven control.
    I work across both software and hardware layers, developing solutions that
    integrate perception, motion planning, control algorithms, and real-world
    robotic platforms. My experience spans both research-driven development and
    practical engineering applications.
  </p>

  <p class="mt-4">
    I have worked with technologies and tools such as
    <span class="text-primary font-semibold"> Python, C++, and ROS/ROS2</span>,
    along with reinforcement learning and computer vision systems.
    I regularly work in Linux-based environments using Git, and develop on
    hardware platforms including Arduino, Raspberry Pi, and embedded motor
    control systems.
  </p>

  <p class="mt-4">
    I also use simulation environments and tools like
    <span class="text-primary font-semibold"> Fusion 360</span>
    to design, test, and validate robotic systems.
  </p>

  <p class="mt-4">
    My interest in robotics and software engineering has developed through
    academic research, hands-on projects, and industry experience.
    I am deeply committed to continuous learning and long-term technical growth,
    always pushing myself forward both professionally and personally.
  </p>
</div>
